@model SampleMVcApp.Models.Patient

@{
    ViewBag.Title = "ViewRec";
}

<h2>Details of the Patient to Edit</h2>
<hr />
<hr />

@using (Html.BeginForm("UpdateRec", "crud"))
{
    <p> @Html.EditorFor(p => p.id)</p>
    <p>Enter the Name: @Html.EditorFor(p => p.pname)</p>
    <p>Enter the Contact No: @Html.EditorFor(p => p.pcno)</p>
    <p>Enter the Total Bill: @Html.EditorFor(p => p.pbill)</p>
    <p>Enter the Date of Appointment: @Html.EditorFor(p => p.date)</p>
    <p>Enter the Doctor Id For Patient: @Html.EditorFor(p => p.doctore_id)</p>
    <p><button>Save Changes</button></p>
}
